.container {
    display: grid;
    grid-template-columns:   repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows:  repeat(auto-fill,minmax(100px, 1fr));
}

#title {
    grid-column-start: 1;
   grid-column-end: -1;
}

.siblings {
    grid-column-start: span 2;
    grid-row-start: span 1;
}

.auntsanduncles {
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.grandparents {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.cousinsandfriends {
    grid-column-start: span 1;
    grid-row-start:span 1;
}



/* Style other types of family members below*/
