.container {
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 1fr 1fr 9fr 1fr;
}

#navbar {
  grid-column-start: span 2;
}

#sidebar {
  grid-row-start:span 2;
  grid-column-end: span 1;
}

#title {
 
}


#content {

}

#footer {
grid-column-start: span 2;
}
